<% if @person.errors.any? %>
<ul>
  <% @person.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<%end%>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card red darken-1 ">
            <div class="card-content white-text">
                <%= form_for @person do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, required: true %>
                <br/>
                <%= f.label :age %>
                <%= f.number_field :age, required: true %>
                <br/>
                <%= f.label :gender %>
                <%= f.text_field :gender %>
                <br/>
                <%= f.label :height %>
                <%= f.text_field :height %>
                <br/>
                <%= f.label :eye_color %>
                <%= f.text_field :eye_color %>
                <br/>
                <%= f.label :hair_color %>
                <%= f.text_field :hair_color %>
                <br/>
                <%= f.label :ethnicity %>
                <%= f.text_field :ethnicity %>
                <br/>
                <%= f.label :interest %>
                <%= f.text_field :interest %>
                <br/>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <%= f.submit 'Save' %>
                </button>
                <% end %>
            </div>
        </div>
    </div>

