<h1 class="text" ><%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> Editing: <%= @person.name %> <%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> </h1>


<%= render(partial: 'form') %>
<ul>
  <li>
      <%= link_to 'Edit user', edit_person_path(@person) %>
  </li>
  <li>
    <%= link_to 'Delete person', person_path(@person), method: :delete %>

  </li>
  <li>
    <%= link_to "#{@person.name}'s favorites", person_favorites_path(@person) %>

  </li>
  <li>
    <%= link_to 'Add a new address', new_person_address_path(@person) %>
  </li>
</ul>
