<h1 class="text" ><%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> Welcome to our dating site! <%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> </h1>
<h2>Are you male or female?</h2>

<ul>
  <li><%=link_to 'Male', people_path%></li>
  <li><%=link_to 'Female', people_path(params[gender: 'Male'])%></li>
</ul>




  <ul>
    <li><%= @person.order(:gender).each%></li>
  </ul>

<%= link_to 'Search all', people_path %>

