<h1>Welcome to our dating site!</h1>
<h2>Are you male or female?</h2>

<ul>
  <li><%=link_to 'Male', people_path(params[:male])%></li>
  <li><%=link_to 'Female', people_path(params[:female])%></li>
</ul>


<% @person.each do |sex| %>
  <ul>
    <li><%= sex.name %> <%=sex.gender %></li>
  </ul>
<% end %>

<%= link_to 'Search all', people_path %>

