<!DOCTYPE html>
<html>
  <head>

    <title>DatingApp</title>

    <meta name= "viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'favorites/navbar2' %>
    <%= render 'devise/menu/registration' %>
    <%= render 'devise/menu/login' %>

      <%= yield %>
  </body>
</html>
